@import url('https://fonts.googleapis.com/css?family=Quicksand');

.input {
  background: none;
  border: none;
  border-bottom: 1px solid #5bc0de;
  margin-right: 5px;
  outline: none;
  width: 230px;
  height: 40px;
  font-size: 18px;
  color: #fff;
}

.form {
  text-align: center;
  margin-top: 40px;
}

.form h1 {
  color:#A9D0F5;
  font-family:'Quicksand', sans-serif
}
